/*********** Baseline, reset styles ***********/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 4rem;
  }
  
  /* Removes default focus */
  input[type="range"]:focus {
    outline: none;
  }
  
  /******** Chrome, Safari, Opera and Edge Chromium styles ********/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #3d3d3d77;
    height: 0.3rem;
  }
  
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -7.199999999999999px; /* Centers thumb on the track */
    background-color: #8c8c8c;
    height: 1.2rem;
    width: 0.5rem;
  }
  
  input[type="range"]:focus::-webkit-slider-thumb {
    outline: 1px solid #8c8c8c;
    outline-offset: 0.125rem;
  }
  
  /*********** Firefox styles ***********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #3d3d3d77;
    height: 0.3rem;
  }
  
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    background-color: #8c8c8c;
    border: none; /*Removes extra border that FF applies*/
    height: 1.2rem;
    width: 0.5rem;
  }
  
  input[type="range"]:focus::-moz-range-thumb{
    outline: 1px solid #8c8c8c;
    outline-offset: 0.125rem;
  }